In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("HR_comma_sep.csv")

In [3]:
data.head(5)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [4]:
y = data["left"]

In [5]:
X = data.drop(["left"], axis=1)

In [6]:
X["sales"].value_counts(normalize=True)

sales          0.276018
technical      0.181345
support        0.148610
IT             0.081805
product_mng    0.060137
marketing      0.057204
RandD          0.052470
accounting     0.051137
hr             0.049270
management     0.042003
Name: sales, dtype: float64

In [7]:
y.head(5)

0    1
1    1
2    1
3    1
4    1
Name: left, dtype: int64

In [8]:
X.head(5)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,0,sales,low
1,0.80,0.86,5,262,6,0,0,sales,medium
2,0.11,0.88,7,272,4,0,0,sales,medium
3,0.72,0.87,5,223,5,0,0,sales,low
4,0.37,0.52,2,159,3,0,0,sales,low

In [9]:
X.head(5)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,0,sales,low
1,0.80,0.86,5,262,6,0,0,sales,medium
2,0.11,0.88,7,272,4,0,0,sales,medium
3,0.72,0.87,5,223,5,0,0,sales,low
4,0.37,0.52,2,159,3,0,0,sales,low

In [10]:
data.head(-2)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
5,0.41,0.50,2,153,3,0,1,0,sales,low
6,0.10,0.77,6,247,4,0,1,0,sales,low
7,0.92,0.85,5,259,5,0,1,0,sales,low
8,0.89,1.00,5,224,5,0,1,0,sales,low
9,0.42,0.53,2,142,3,0,1,0,sales,low
10,0.45,0.54,2,135,3,0,1,0,sales,low
11,0.11,0.81,6,305,4,0,1,0,sales,low
12,0.84,0.92,4,234,5,0,1,0,sales,low
13,0.41,0.55,2,148,3,0,1,0,sales,low
14,0.36,0.56,2,137,3,0,1,0,sales,low
15,0.38,0.54,2,143,3,0,1,0,sales,low
16,0.45,0.47,2,160,3,0,1,0,sales,low
17,0.78,0.99,4,255,6,0,1,0,sales,low
18,0.45,0.51,2,160,3,1,1,1,sales,low
19,0.76,0.89,5,262,5,0,1,0,sales,low
20,0.11,0.83,6,282,4,0,1,0,sales,low
21,0.38,0.55,2,147,3,0,1,0,sales,low
22,0.09,0.95,6,304,4,0,1,0,sales,low
23,0.46,0.57,2,139,3,0,1,0,sales,low
24,0.40,0.53,2,158,3,0,1,0,sales,low
25,0.89,0.92,5,242,5,0,1,0,sales,low
26,0.82,0.87,4,239,5,0,1,0,sales,low
27,0.40,0.49,2,135,3,0,1,0,sales,low
28,0.41,0.46,2,128,3,0,1,0,accounting,low
29,0.38,0.50,2,132,3,0,1,0,accounting,low
...,...,...,...,...,...,...,...,...,...,...
14967,0.43,0.51,2,128,3,0,1,0,sales,low
14968,0.40,0.47,2,128,3,0,1,0,sales,medium
14969,0.43,0.46,2,157,3,0,1,0,sales,medium
14970,0.78,0.93,4,225,5,0,1,0,sales,medium
14971,0.39,0.45,2,140,3,0,1,0,sales,medium
14972,0.11,0.97,6,310,4,0,1,0,accounting,medium
14973,0.36,0.52,2,143,3,0,1,0,accounting,medium
14974,0.36,0.54,2,153,3,0,1,0,accounting,medium
14975,0.10,0.79,7,310,4,0,1,0,hr,medium
14976,0.40,0.47,2,136,3,0,1,0,hr,medium
14977,0.81,0.85,4,251,6,0,1,0,hr,medium
14978,0.40,0.47,2,144,3,0,1,0,hr,medium
14979,0.09,0.93,6,296,4,0,1,0,technical,medium
14980,0.76,0.89,5,238,5,0,1,0,technical,high
14981,0.73,0.93,5,162,4,0,1,0,technical,low
14982,0.38,0.49,2,137,3,0,1,0,technical,medium
14983,0.72,0.84,5,257,5,0,1,0,technical,medium
14984,0.40,0.56,2,148,3,0,1,0,technical,medium
14985,0.91,0.99,5,254,5,0,1,0,technical,medium
14986,0.85,0.85,4,247,6,0,1,0,technical,low
14987,0.90,0.70,5,206,4,0,1,0,technical,low
14988,0.46,0.55,2,145,3,0,1,0,technical,low
14989,0.43,0.57,2,159,3,1,1,0,technical,low
14990,0.89,0.88,5,228,5,1,1,0,support,low
14991,0.09,0.81,6,257,4,0,1,0,support,low
14992,0.40,0.48,2,155,3,0,1,0,support,low
14993,0.76,0.83,6,293,6,0,1,0,support,low
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low

In [11]:
X.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,0,sales,low
1,0.80,0.86,5,262,6,0,0,sales,medium
2,0.11,0.88,7,272,4,0,0,sales,medium
3,0.72,0.87,5,223,5,0,0,sales,low
4,0.37,0.52,2,159,3,0,0,sales,low

In [12]:
z = pd.get_dummies(X["sales"])

In [13]:
z

,IT,RandD,accounting,hr,management,marketing,product_mng,sales,support,technical
0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,1,0,0
5,0,0,0,0,0,0,0,1,0,0
6,0,0,0,0,0,0,0,1,0,0
7,0,0,0,0,0,0,0,1,0,0
8,0,0,0,0,0,0,0,1,0,0
9,0,0,0,0,0,0,0,1,0,0
10,0,0,0,0,0,0,0,1,0,0
11,0,0,0,0,0,0,0,1,0,0
12,0,0,0,0,0,0,0,1,0,0
13,0,0,0,0,0,0,0,1,0,0
14,0,0,0,0,0,0,0,1,0,0
15,0,0,0,0,0,0,0,1,0,0
16,0,0,0,0,0,0,0,1,0,0
17,0,0,0,0,0,0,0,1,0,0
18,0,0,0,0,0,0,0,1,0,0
19,0,0,0,0,0,0,0,1,0,0
20,0,0,0,0,0,0,0,1,0,0
21,0,0,0,0,0,0,0,1,0,0
22,0,0,0,0,0,0,0,1,0,0
23,0,0,0,0,0,0,0,1,0,0
24,0,0,0,0,0,0,0,1,0,0
25,0,0,0,0,0,0,0,1,0,0
26,0,0,0,0,0,0,0,1,0,0
27,0,0,0,0,0,0,0,1,0,0
28,0,0,1,0,0,0,0,0,0,0
29,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
14969,0,0,0,0,0,0,0,1,0,0
14970,0,0,0,0,0,0,0,1,0,0
14971,0,0,0,0,0,0,0,1,0,0
14972,0,0,1,0,0,0,0,0,0,0
14973,0,0,1,0,0,0,0,0,0,0
14974,0,0,1,0,0,0,0,0,0,0
14975,0,0,0,1,0,0,0,0,0,0
14976,0,0,0,1,0,0,0,0,0,0
14977,0,0,0,1,0,0,0,0,0,0
14978,0,0,0,1,0,0,0,0,0,0
14979,0,0,0,0,0,0,0,0,0,1
14980,0,0,0,0,0,0,0,0,0,1
14981,0,0,0,0,0,0,0,0,0,1
14982,0,0,0,0,0,0,0,0,0,1
14983,0,0,0,0,0,0,0,0,0,1
14984,0,0,0,0,0,0,0,0,0,1
14985,0,0,0,0,0,0,0,0,0,1
14986,0,0,0,0,0,0,0,0,0,1
14987,0,0,0,0,0,0,0,0,0,1
14988,0,0,0,0,0,0,0,0,0,1
14989,0,0,0,0,0,0,0,0,0,1
14990,0,0,0,0,0,0,0,0,1,0
14991,0,0,0,0,0,0,0,0,1,0
14992,0,0,0,0,0,0,0,0,1,0
14993,0,0,0,0,0,0,0,0,1,0
14994,0,0,0,0,0,0,0,0,1,0
14995,0,0,0,0,0,0,0,0,1,0
14996,0,0,0,0,0,0,0,0,1,0
14997,0,0,0,0,0,0,0,0,1,0
14998,0,0,0,0,0,0,0,0,1,0

In [14]:
X["salary"].value_counts(normalize=True)

low       0.487766
medium    0.429762
high      0.082472
Name: salary, dtype: float64

In [15]:
a = pd.get_dummies(X["salary"])

In [16]:
a.head()

   high  low  medium
0     0    1       0
1     0    0       1
2     0    0       1
3     0    1       0
4     0    1       0

In [17]:
X = pd.concat([X,z,a], axis=1)

In [18]:
X.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,sales,salary,IT,...,hr,management,marketing,product_mng,sales,support,technical,high,low,medium
0,0.38,0.53,2,157,3,0,0,sales,low,0,...,0,0,0,0,1,0,0,0,1,0
1,0.80,0.86,5,262,6,0,0,sales,medium,0,...,0,0,0,0,1,0,0,0,0,1
2,0.11,0.88,7,272,4,0,0,sales,medium,0,...,0,0,0,0,1,0,0,0,0,1
3,0.72,0.87,5,223,5,0,0,sales,low,0,...,0,0,0,0,1,0,0,0,1,0
4,0.37,0.52,2,159,3,0,0,sales,low,0,...,0,0,0,0,1,0,0,0,1,0

In [19]:
import sklearn
print("scikit-learn version: {}".format(sklearn.__version__))

scikit-learn version: 0.18.1

In [20]:
from sklearn.cross_validation import train_test_split

C:\Users\quantum\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=123)

In [23]:
from sklearn.neighbors import KNeighborsClassifier

In [24]:
knn1 = KNeighborsClassifier(n_neighbors=1)

In [25]:
knn1.fit(X_train, y_train)

ValueError: could not convert string to float: 'medium'